{
    "extends": ["eslint:recommended"],
    "parserOptions": {
      "ecmaVersion": 2021
    },
    "env": {
      "browser": true,
      "node": true
    },
    "rules": {
      // Specify your ESLint rules here
    }
  }
  