.body-wrapper {
  padding: 20px;
  min-height: 100vh;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.668),
      rgba(255, 255, 255, 0.476)
    ),
    url(images/backgroundimage.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

footer {
  padding: 20px;
  color: #fff;
  background-color: black;
  text-align: center;
  /*     position: fixed; */
  /*     bottom: 0; */
  width: 100%;
}

footer a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

/* .form {
  max-width: 90%;
  min-width: 50%;
  padding: 50px 60px 70px;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.665);
  background: rgba(255, 255, 255, 0.761);
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
} */

/* .postfeed {
  background-color: rgba(255, 255, 255, 0.74);
  border: 3px solid rgba(0, 0, 0, 0.665);
  border-radius: 3px;
  padding: 20px 10px;
  margin-top: 20px;
  margin-bottom: 40px;
  max-width: 900px;
  margin: 40px auto;
} */

h1,
h2,
h3,
.button,
input,
label,
a,
p,
text,
.btn,
.btn-dark,
.btn-action,
.footer {
  font-family: 'Nunito', sans-serif;
}

input {
  max-width: 90%;
}

.user-action,
.spacetext {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #ffffffc2;
  max-width: 700px;
  margin: 20px auto;
}

.alert {
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  background-color: #ffffffc2;
}

a {
  color: #000;
  text-decoration: none;
}

.text-end {
  max-width: 90%;
  display: flex;
}

.form-floating {
  padding: 10px;
}

.nav {
  display: flex;
}

label {
  margin: 10px;
}
