.btn {
    color: red;
    margin-left: 19%;
    
}

.container-fluid{
    color: red;
    margin-left: 19%;
}
#loginModal{
    color: red;
    margin-left: 19%;
}
.form-floating{
    color: red;
    margin-left: 19%;
}
.modal-footer{
    color: red;
    margin-left: 19%;
}